body{
    background-color: blueviolet;
}

.messenger__field{
    background-color: honeydew;
    min-width: 300px;
    height: 300px;
    overflow: scroll;
}

.messenger__input{
 
}
.messenger__button{
    color:red;
}